In [244]:
import numpy as np
import pandas as pd

In [245]:
# Daten definieren
source = "EXPORT_OR.csv"     # Datenquelle
hour_var = 7     # Periode auswählen (X bis X+1 Uhr)
station_id_list = [100201010001491, 
                   100201010031096, 
                   100201010031100, 
                   100201010031807]    # IDs für die Datenquellen; falsche Stationen wg Problemen unten

# richtige Stationen: [100201010028268, 100201010040190, 100201010011292, 100201010038271]

In [246]:
# Daten einlesen; Daten liegen im selben Ordner wie das Script
traffic_df = pd.read_csv(source, sep = ";")

(1025559, 7)

In [247]:
# PROBLEM: wieso werden nicht alle Daten geladen???
traffic_df["MQ_ID15"].unique()

array([100201010001491, 100201010031096, 100201010031100, 100201010031807,
       100201010031908, 100201010032009, 100201010032110, 100201010043527,
       100201010043628, 100201010044133], dtype=int64)

In [248]:
# benötigte Stationen auswählen
traffic_df = traffic_df.loc[traffic_df["MQ_ID15"].isin(station_id_list)]
# unnütze Spalten droppen
traffic_df = traffic_df.drop(["TS_END_LOCAL", "Q_PKW_MQ", "Q_LKW_MQ", "V_KFZ_MQ"], axis = 1)
# Spalten Datum, Uhrzeit, 5-Minuten-Periode generieren
a = traffic_df["TS_BEGIN_LOCAL"].str.split(" ")
traffic_df["DATE"] = a.str.get(0)
a = a.str.get(1).str.split(":")
traffic_df["HOUR"] = pd.to_numeric(a.str.get(0))
traffic_df["5MINSTART"] = pd.to_numeric(a.str.get(1))
# unnütze Spalten droppen
traffic_df = traffic_df.drop("TS_BEGIN_LOCAL", axis = 1)
# Durschnittliche Anzahl Fahrzeuge in gewünschter Periode auswählen (in 2017)
# gerundet auf integer
output = traffic_df.loc[traffic_df["HOUR"] == hour_var]
output = output.groupby(by = ["MQ_ID15", "HOUR"], axis = 0).mean().round()

In [249]:
output.head()

                      Q_KFZ_MQ  5MINSTART
MQ_ID15         HOUR
100201010001491 7       1208.0       27.0
100201010031096 7        279.0       27.0
100201010031100 7        290.0       27.0
100201010031807 7        895.0       27.0